%h1
	Learning Middleman
%p
	A list of the things I've learned using Middleman for the first time.

%h3
	Next Up
%p clean up headers and footers
%p hierarchy of pages: learnings pages vs notes on articles vs essays
%p Push changes to GitHub Pages
%p Try markdown for code snippets
%p Display active page in nav

%ul.learning-log
	%li
		.time-stamp June 7 21:47
		%p 
			Generate links to internal pages with
			%a{href: "https://middlemanapp.com/basics/helper_methods/"} helper methods.
	%li
		.time-stamp June 7 21:47
		%p 
			Learned that you can create file.html.haml files as partials. 
			%a{href: "http://stackoverflow.com/questions/9397177/using-middleman-how-do-you-include-one-haml-file-in-another-haml-file"} Stack overflow answer on html.haml files in layouts/partials.

	%li
		.time-stamp June 6 12:53am	
		%p 
			Learned to create a style sheet and link to it. Improved readability to come. 
			%a{href: "http://12devs.co.uk/articles/204/"} from this overview.
	%li
		.time-stamp June 6 9:36am	
		%p 
			Create page for learning log.
		
	%li
		.time-stamp June 6 9:36am	
		%p 
			There are three ways to create pages and point each page to unique layouts and partials.
	%li
		.time-stamp June 6 9:00AM	
		%p 
			Using partials to create a separate page to pull in Pinboard links from my feed. This means I can create pages for projects and apps.
	%li
		.time-stamp June 5 11:00PM 	
		%p 
			Understood basic haml syntax and adding anchor tags. It's all much easier to read now.
	%li
		.time-stamp June 5 23:--	
		%p 
			Grouping links makes it easier to focus and clear out opened tabs. There's no fear of missing out because it's stored and categorized.
	%li
		.time-stamp June 5 23:--	
		%p 
			Made the decision to not push my project config file got GitHub. I spent a few hours troubleshooting the s3_sync gem, getting it to use a YAML file to push to AWS. In the end, it was a blocker for not pushing to GitHub and AWS, so I decide to ignore the config file and continue building. Trading no version control for config file for progress on the rest of the site.
	%li
		.time-stamp June 5 22:--	
		%p 
			Realized that even though Jekyll Bootstrap is probably good for blogging, the number of files and folder structure made it difficult to find a starting point. Watching the Middleman video made it easier to see the contrast and decide to focus on Middleman. 
