@import	"normalize";

/*VARIABLES: COLORS*/
$background: white;
$text-primary: rgba(0, 0, 0, 0.8);
$text-secondary: rgba(0, 0, 0, 0.4); /*half opacity to primary*/
$links: rgba(0, 116, 191, 1.0);
$links-hover: rgba(23, 82, 121, 1.0);
$border: rgba(0, 0, 0, 0.05);


body{
	background-color: $background;
	color: $text-primary;
}
.content-wrapper{
	margin: auto;
	width: 700px;
	display: block;
}
/*h1 as headers*/
h1{ 
	/*letter-spacing: -0.02em;*//* what's a comfortable amount of space for letter spacing for any given font?*/
	font-size: 60px;
	margin-left: -4px;
	/*line-height: 1;*/
	/*margin-top: 40px; *//*what should the margin be on any header element?*/
	/*padding-top: 0;*/
	/*margin-bottom: 8px;*/
	}

a{
	color: $links;
	text-decoration: none;
	&:hover{
		/*color: $links-hover;*/
		text-decoration: underline;
/*		border-bottom: 1px solid $links-hover;*/
	};
}
ul{
  list-style-type: none;
}
li{
  line-height: 1.4em;
}
ul.learning-log{
	padding: 0;
  position: relative;
	left: -4.4em;
	li{
	  display: flex;
	  margin-bottom: 2em;
		p{
			margin: 0;
			width: 640px;
		}
	}
	.time-stamp{
	  display: block;
	  width: 5em;  
	  margin-top: 4px;
	  margin-right: 1em;  
	  color: rgba(0, 0, 0, 0.4);
		font-size: 12px;
	  line-height: 1.3em;
	  text-align: right;
	}
}
ul#nav {
	display: block;
	width: 100%;
	margin: auto;
	border-bottom: 1px solid $border;
	li{
		display: inline-block;
		a{
			display: inline-block;
			padding: 1.0em 1.25em;
			&:hover{
				color: white;
				background-color: $links-hover;
				text-decoration: none;
			};
		}
	}
}