<!doctype html>
<html>
  <head>
    <!-- DEFAULT HEADER _head.erb -->
    <%= partial "layouts/partials/head" %>
  </head>
  
  <body class="<%= page_classes %>">
  	<%= partial "layouts/partials/nav" %>
  	<div class="content-wrapper">
			<%= yield %>
  	</div>
  </body>
</html>