<html>
<head>
	<%= partial "/layouts/partials/header_pinboard" %>
</head>
<body class="<%= page_classes %>">
	<%= partial "/layouts/partials/nav" %>
	<div class="content-wrapper">
		<%= yield %>
	</div>
</body>
</html>