<html>
  <head>
    <!-- DEFAULT HEADER _head.erb -->
    <%= partial "layouts/partials/projects" %>
  </head>
  
  <body class="<%= page_classes %>">
  	<div class="content-wrapper">
		<%= yield %>
		</div>
  </body>
</html>