%ul#nav
	%li
		%a{href: "/"} Home
	%li
		%a{href: "/pages-learning/learning-javascript.html"} Javascript
	%li
		%a{href: "/pages-learning/learning-middleman.html"} Middleman
	%li
		%a{href: "/pages-learning/learning-git.html"} Git
	%li
		%a{href: "/pages-learning/learning-sketch.html"} Sketch
	%li
		%a{href: "/pages-projects/bookmarks.html"} Bookmarks