%ul#nav
	%li
		%a{href: "/"} Home
	%li
		%a{href: "/learning-javascript.html"} Javascript
	%li
		%a{href: "/learning-middleman.html"} Middleman
	%li
		%a{href: "/learning-git.html"} Git
	%li
		%a{href: "/learning-sketch.html"} Sketch
	%li
		%a{href: "/bookmark_stream.html"} Bookmarks