%h1
	I Will Teach You To Be Rich

.highlight
	%p.location
		Location 91-92
	%p.content
		The point is that we love to debate minutiae. When it comes to weight loss, 99.99 percent of us need to know only two things: Eat less and exercise more. Only elite athletes need to do more.

.highlight
	%p.location
		Location 96-97
	%p.content
		We need to set up accounts at a reliable no-fee bank and then automate savings and bill payment. We need to know about a few things to invest in, and then we need to let our money grow for thirty years.

.highlight
	%p.location
		Location 101-104
	%p.content
		Why? Because we love to debate minutiae. When we do, we somehow feel satisfied. We might just be spinning our wheels and failing to change anyone’s mind, but we feel as if we are really expressing ourselves, and it’s a good feeling. We feel like we’re getting somewhere. The problem is that this feeling is totally illusory.

.highlight
	%p.location
		Location 104-106
	%p.content
		Focusing on these details is the easiest way to get nothing done. Imagine the last time you and your friend talked about finances or fitness. Did you go for a run afterward? Did you send money to your savings account? Of course not. People love to argue minor points, partially because they feel it absolves them from actually having to do anything.

.highlight
	%p.location
		Location 107-110
	%p.content
		Just as you don’t have to be a certified nutritionist to lose weight or an automotive engineer to drive a car, you don’t have to know everything about personal finance to be rich. I’ll repeat myself: You don’t have to be an expert to get rich. You do have to know how to cut through all the information and get started—which, incidentally, also helps reduce the guilt.

.highlight
	%p.location
		Location 137-137
	%p.content
		The single most important thing you can do to be rich is to start early.

.highlight
	%p.location
		Location 192-193
	%p.content
		instead of saying, “How much money do I need to make?” you’ll say, “What do I want to do with my life—and how can I use money to do it?”

.highlight
	%p.location
		Location 197-199
	%p.content
		The 85 Percent Solution: Getting started is more important than becoming an expert. Too many of us get overwhelmed thinking we need to manage our money perfectly, which leads us to do nothing at all. That’s why the easiest way to manage your money is to take it one step at a time—and not worry about being perfect.

.highlight
	%p.location
		Location 210-212
	%p.content
		But investment isn’t about being sexy—it’s about making money, and when you look at investment literature, buy-and-hold investing wins over the long term, every time. Forget what that money TV station or finance magazine says about the stock-of-the-month. Do some analysis, make your decision, and then reevaluate your investment every six months or so.

.highlight
	%p.location
		Location 214-214
	%p.content
		Spend extravagantly on the things you love, and cut costs mercilessly on the things you don’t.

.highlight
	%p.location
		Location 218-220
	%p.content
		My friend Jim once called to tell me that he’d gotten a raise at work. On the same day, he moved into a smaller apartment. Why? Because he doesn’t care very much about where he lives, but he loves spending money on camping and biking. That’s called conscious spending. (Learn how one of my friends consciously spends $21,000 per year going out on page 98.)

.highlight
	%p.location
		Location 227-229
	%p.content
		my best scholarship was the first one—an award for $2,000. The organization wrote a check directly to me. I took it and invested in the stock market—and immediately lost half my money.

.highlight
	%p.location
		Location 235-236
	%p.content
		Why do you want to be rich? What does being rich mean to you? Most people never spend even ten minutes thinking through what rich means to them.

.highlight
	%p.location
		Location 238-245
	%p.content
		If you don’t consciously choose what rich means, it’s easy to end up mindlessly trying to keep up with your friends. I consider myself rich now that I can do these things: • Make career decisions because I want to, not because of money • Help my parents with their retirement, so they don’t have to work if they don’t want to • Spend extravagantly on the things I love and be relentlessly frugal about the things I don’t (e.g., spend lots on visiting family in New York, but don’t buy the flashiest sports car) • Start a scholarship fund for young entrepreneurs (launched in May 2006!)

.highlight
	%p.location
		Location 246-247
	%p.content
		Why do you want to be rich? What do you want to do with your wealth?

.highlight
	%p.location
		Location 254-254
	%p.content
		Simple, long-term investing works. This idea gets nothing but yawns and rolling eyes during a conversation.

.highlight
	%p.location
		Location 259-266
	%p.content
		IN WEEK 1, you’ll set up your credit cards and learn how to improve your credit history (and why that’s so important). IN WEEK 2, you’ll set up the right bank accounts, including negotiating to get no-fee, high-interest accounts. IN WEEK 3, you’ll open a 401(k) and an investment account (even if you have just $50 to start). IN WEEK 4, you’ll figure out how much you’re spending. And then you’ll figure out how to make your money go where you want it to go. IN WEEK 5, you’ll automate your new infrastructure to make your accounts play together nicely. IN WEEK 6, you’ll learn why investing isn’t the same as picking stocks—and how you can get the most out of the market with very little work.

.highlight
	%p.location
		Location 283-285
	%p.content
		by the time I went to buy my own car, I had been steeped in a rich tradition of negotiating. I knew how to make unreasonable demands with a straight face and never take no for an answer.

.highlight
	%p.location
		Location 294-295
	%p.content
		Instead of 1.9 percent interest, it would be 4.9 percent. That didn’t sound like much, but I pulled out a notepad and did a quick calculation. The difference would be more than $2,200 over the life of my car loan.

.highlight
	%p.location
		Location 302-303
	%p.content
		Our largest purchases are almost always made on credit, and people with good credit save tens of thousands of dollars on these purchases.

.highlight
	%p.location
		Location 306-307
	%p.content
		There are two main components to credit (also known as your credit history): the credit report and the credit score

.highlight
	%p.location
		Location 317-318
	%p.content
		They’ll charge you more or less for the loan, depending on the score, which signifies how risky you are.

.highlight
	%p.location
		Location 329-329
	%p.content
		One of the key differences between rich people and everyone else is that rich people plan before they need to plan.

.highlight
	%p.location
		Location 335-337
	%p.content
		While other people spend many hours cutting coupons, growing food in their gardens to save on grocery bills, or being frugal with lattes, they’re failing to see the bigger picture.

.highlight
	%p.location
		Location 343-345
	%p.content
		From one perspective, credit cards are like a delightful gift from heaven. If you pay your bill on time, they’re actually a free short-term loan. They help you keep track of your spending much more easily than cash, and they let you download your transaction history for free.

.highlight
	%p.location
		Location 350-351
	%p.content
		if you don’t completely pay off your bill at the end of the month, you’ll owe an enormous amount of interest on the remainder, usually about 14 percent.

.highlight
	%p.location
		Location 386-388
	%p.content
		Sure, but what if you could save more by getting a free $500 flight? It wouldn’t be as obvious as receiving money each month, but in the long term, you’d save more with a travel rewards card.

.highlight
	%p.location
		Location 393-395
	%p.content
		I travel a lot, so I got an airline card that gives me free companion tickets, free flights, and points for every dollar I spend and every mile I fly. I get multiple free flights per year, and each one saves me about $350.

.highlight
	%p.location
		Location 421-425
	%p.content
		Your credit score can drop more than 100 points, which would add $240/month to an average thirty-year fixed-mortgage loan. 2. Your APR can go up to 30 percent. 3. You’ll be charged a late fee, usually around $35. 4. Your late payment can trigger rate increases on your other credit cards as well, even if you’ve never been late on them. (I find this fact amazing.)

.highlight
	%p.location
		Location 436-437
	%p.content
		“Paying your bills on time is absolutely critical,” says FICO’s Craig Watts. “It’s by far the most important thing you can do to improve your credit rating.”

.highlight
	%p.location
		Location 452-454
	%p.content
		I’d rather pay no fees. Which card can you switch me to that doesn’t charge fees? I’d like to make sure my credit score isn’t affected by closing this account, too. Can you confirm?

.highlight
	%p.location
		Location 456-456
	%p.content
		The only exception is if you spend enough to justify the extra rewards a fee-charging account offers.

.highlight
	%p.location
		Location 458-460
	%p.content
		not, switch to a no-fee credit card. I suggest you do this at the same credit card company to simplify your life—and so you don’t have to close one account and open another, which will affect your credit score.

.highlight
	%p.location
		Location 464-478
	%p.content
		Hi, I noticed I missed a payment, and I wanted to confirm that this won’t affect my credit score. CREDIT CARD REP: Let me check on that. No, the late fee will be applied, but it won’t affect your credit score. (Note: If you pay within a few days of your missed bill, it usually won’t be reported to the credit agencies. Call them to be sure.) YOU: Thank you! I’m really happy to hear that. Now, about that fee . . . I understand I was late, but I’d like to have it waived. CREDIT CARD REP: Why? YOU: It was a mistake and it won’t happen again, so I’d like to have the fee removed. (Note: Always end your sentence with strength. Don’t say, “Can you remove this?” Say, “I’d like to have this removed.”) At this point, you have a better-than-50-percent chance of getting the fee credited to your account. But just in case you get an especially tough rep, here’s what to say. CREDIT CARD REP: I’m very sorry, but we can’t refund that fee. I can try to get you our latest blah blah marketing pitch blah blah. . . . YOU: I’m sorry, but I’ve been a customer for four years and I’d hate for this one fee to drive me away from your service. What can you do to remove the late fee? CREDIT CARD REP: Hmm . . . Let me check on that. . . . Yes, I was able to remove the fee this time. It’s been credited to your account.

.highlight
	%p.location
		Location 491-492
	%p.content
		Don’t get suckered by introductory offers and low APRs. If you’re happy with your card, keep it. And if you’re getting a new credit card, don’t close the account on your old one. That can negatively affect your credit score.

.highlight
	%p.location
		Location 493-495
	%p.content
		To avoid having your account shut down, set up an automatic payment on any card that is not your primary card. For example, I set it up so that one of my credit cards pays a $12.95 monthly subscription through my checking account each month, which requires zero intervention on my part.

.highlight
	%p.location
		Location 508-509
	%p.content
		Lower is preferred because lenders don’t want you regularly spending all the money you have available through credit—it’s too likely that you’ll default and not pay them anything.

.highlight
	%p.location
		Location 518-518
	%p.content
		I request a credit-limit increase every six to twelve months.

.highlight
	%p.location
		Location 528-530
	%p.content
		One of the best ways to improve your chances of getting fees waived is by keeping track of every time you call your financial institutions, including credit card companies, banks, and investment companies.

.highlight
	%p.location
		Location 536-538
	%p.content
		Whenever you make a call regarding a dispute on your credit card, you wouldn’t believe how powerful it is to refer back to the last time you called—citing the rep’s name, date of conversation, and your call notes. Most credit card reps you talk to will simply give in because they know you came to play in the big leagues.

.highlight
	%p.location
		Location 542-544
	%p.content
		I ran the calculations and decided to pay the $75 annual fee because I spend enough to justify the cost. With this card, I earn one point for every dollar I spend and one point for every mile I fly, plus free companion fares for domestic flights over $379.

.highlight
	%p.location
		Location 550-555
	%p.content
		If you fall in this category, you should call your credit cards and lenders once per year to ask them what advantages you’re eligible for. Often, they can waive fees, extend credit, and give you private promotions that others don’t have access to. Call them up and use this line: “Hi there. I just checked my credit and noticed that I have a 750 credit score, which is pretty good. I’ve been a customer of yours for the last four years, so I’m wondering what special promotions and offers you have for me . . . I’m thinking of fee waivers and special offers that you use for customer retention.”

.highlight
	%p.location
		Location 559-561
	%p.content
		Automatic warranty doubling: Most cards extend the warranty on your purchases. So if you buy an iPod and it breaks after Apple’s warranty expires, your credit card will still cover it up to an additional year. This is true for nearly every credit card for nearly every purchase, automatically.

.highlight
	%p.location
		Location 564-566
	%p.content
		Trip-cancellation insurance: If you book tickets for a vacation and then get sick and can’t travel, your airline will charge you hefty fees to re-book your ticket. Just call your credit card and ask for the trip-cancellation insurance to kick in, and they’ll cover those change fees—usually up to $1,000 per year.

.highlight
	%p.location
		Location 571-571
	%p.content
		Call your credit card company and ask them to send you a full list of all their rewards. Then use them!

.highlight
	%p.location
		Location 573-574
	%p.content
		I called American Express and explained the problem. They just asked how much I had paid for the camera, and one week later I had a check for the full purchase price in my mailbox.

.highlight
	%p.location
		Location 586-588
	%p.content
		Many people don’t know that credit cards offer excellent consumer protection. This is one reason I encourage everyone to make major purchases on their credit card (and not use cash or a debit card).

.highlight
	%p.location
		Location 599-600
	%p.content
		People with zero debt get a free pass. If you have no debt, close as many accounts as you want. It won’t affect your credit utilization score.

.highlight
	%p.location
		Location 601-602
	%p.content
		“If you close an account but pay off enough debt to keep your credit utilization score the same,” says Craig Watts of FICO, “your score won’t be affected.”

.highlight
	%p.location
		Location 605-607
	%p.content
		If you’re applying for a major loan—for a car, home, or education—don’t close any accounts within six months of filing the loan application. You want as much credit as possible when you apply.

.highlight
	%p.location
		Location 617-619
	%p.content
		“I have met with thousands of millionaires in my years as a financial counselor, and I have never met one who said he made it all with Discover Card bonus points. They all lived on less than they made and spent only when they had cash.” Focus on the big wins if you want bigger results.

.highlight
	%p.location
		Location 645-649
	%p.content
		“Mike, if you were smart enough to sock away $40k in an emergency fund (which is really impressive, by the way), I bet you’re smart enough to spend your time doing something better than earning $300/year—something that will let you earn much more sustainably. You’re only earning $0.82/day doing that! How about spending the same time optimizing your asset allocation? (see page 170) That step alone is probably worth thousands per year. Or starting a side business? Or even spending those few hours with your family?

.highlight
	%p.location
		Location 656-657
	%p.content
		Some people differentiate debts by calling them “good debt” and “bad debt,” depending on if the debt appreciates (education) or depreciates (car) over time.

.highlight
	%p.location
		Location 670-671
	%p.content
		the financial calculators at www.dinkytown.net

.highlight
	%p.location
		Location 704-705
	%p.content
		The key to using credit cards effectively is to pay off your credit card in full every month.

.highlight
	%p.location
		Location 768-769
	%p.content
		But on a psychological level, it’s enormously rewarding to see one credit card paid off, which in turn can motivate you to pay off others more quickly.

.highlight
	%p.location
		Location 772-773
	%p.content
		I’m a huge fan of taking 50/50 odds if the upside is big and it takes only five minutes of my time. Accordingly, try negotiating down your APR.

.highlight
	%p.location
		Location 782-783
	%p.content
		I’ve been a customer for X years, and I’d prefer not to switch my balance over to a low-interest card. Can you match the other credit card rates, or can you go lower?

.highlight
	%p.location
		Location 825-826
	%p.content
		The goal is not to research every last corner to decide where the money will come from, it’s action.

.highlight
	%p.location
		Location 826-826
	%p.content
		Figure out how much debt you have, decide how you want to pay it down, negotiate your rates, and get started.

.highlight
	%p.location
		Location 839-842
	%p.content
		If you do not have enough income to cover more than your minimum payments, you have to clear that hurdle by earning more money, negotiating with your credit card issuers to lower your minimum payments, or working with a legitimate, nonprofit debt consolidation organization that negotiates with creditors on your behalf, not one that provides you with a loan.

.highlight
	%p.location
		Location 855-857
	%p.content
		When you’re paying off debt, you don’t want to be adding more at the same time. Eliminating debt is more than just paying off your balances, it’s also about resisting consumerist temptations. Don’t cancel your cards, but stop using them.

.highlight
	%p.location
		Location 875-876
	%p.content
		Being in debt means giving up choices, means staying at a job you hate because it pays good money, means not being able to build a decent savings account.

.highlight
	%p.location
		Location 882-884
	%p.content
		2 Set up your credit card (two hours). If you already have one, call and make sure it’s a no-fee card. If you want to get a new credit card, check out www.bankrate.com

.highlight
	%p.location
		Location 886-887
	%p.content
		Apply for more credit if you’re debt-free. Make sure you’re getting the most out of your cards.

.highlight
	%p.location
		Location 916-918
	%p.content
		Plus, up to $100,000 held in a savings account is insured by the Federal Deposit Insurance Corporation (FDIC), which is basically the government. (That amount was temporarily raised to $250,000 until 2010, but may change.)

.highlight
	%p.location
		Location 924-925
	%p.content
		Fundamentally, banks earn money by lending the money you deposit to other people.

.highlight
	%p.location
		Location 946-947
	%p.content
		If you have $1,000 and another bank has a 1 percent higher interest rate, that’s a difference of $10 per year. Just one overdraft fee equals three times that amount. Costs matter.

.highlight
	%p.location
		Location 958-958

.highlight
	%p.location
		Location 960-961
	%p.content
		Think of savings accounts as places for short-term (one month) to midterm savings (five years).

.highlight
	%p.location
		Location 966-968
	%p.content
		you’d actually be losing money every day because inflation is about 3 percent. That’s right: You may be earning 0.5 percent interest on your savings account, but you’re losing 2.5 percent every year in terms of real purchasing power.

.highlight
	%p.location
		Location 970-972
	%p.content
		Checking accounts are built for frequent withdrawals: They have debit cards and ATMs for your convenience. But your savings account is really a “goals” account, where every dollar is assigned to a specific item you’re saving up for.

.highlight
	%p.location
		Location 977-978
	%p.content
		Typically, if you want to withdraw your money, you’ll log in to your online savings account, initiate a free transfer to your checking account, and then wait three to five days for it to happen.

.highlight
	%p.location
		Location 982-983
	%p.content
		One basic way of looking at it is that your savings account is where you deposit money, whereas your checking account is where you withdraw money.

.highlight
	%p.location
		Location 985-986
	%p.content
		If you don’t have the money available in your discretionary (checking) account because you’ve spent your “going out” money, you’re staying in that night.

.highlight
	%p.location
		Location 991-992
	%p.content
		Start small now so that when you do have a lot of money, you’ll know what to do with it.

.highlight
	%p.location
		Location 998-998
	%p.content
		in general, once you’ve opened the online account, you can close your brick-and-mortar account any time.

.highlight
	%p.location
		Location 1000-1001
	%p.content
		For example, my ING Direct savings account automatically withdraws a certain amount every month from my checking account, as does my investment account

.highlight
	%p.location
		Location 1002-1003
	%p.content
		For consumer protection, I pay my bills using my credit card. The credit card is automatically paid in full every month by my online checking account.

.highlight
	%p.location
		Location 1003-1003
	%p.content
		For cash expenses, I use the Schwab ATM card to withdraw money at any ATM nationwide. All ATM charges are fully reimbursed at the end of the month.

.highlight
	%p.location
		Location 1016-1017
	%p.content
		This option means opening accounts at two separate institutions: a no-fee checking account at your local bank and a high-yield online savings account.

.highlight
	%p.location
		Location 1017-1018
	%p.content
		With the checking account, you’ll have immediate access to your money and the ability to transfer cash to your high-interest online savings account for free.

.highlight
	%p.location
		Location 1018-1019
	%p.content
		(Note: Most online banks require you to have a brick-and-mortar bank, so don’t close your old account before checking with your online bank.)

.highlight
	%p.location
		Location 1041-1042
	%p.content
		I suggest calling (or even going in) and asking them if they can help you find a no-fee, no-minimum account.

.highlight
	%p.location
		Location 1046-1048
	%p.content
		Beyond just the type of accounts offered, there’s more to consider when choosing your bank(s). I look for three things: trust, convenience, and features.

.highlight
	%p.location
		Location 1052-1054
	%p.content
		When you’re looking for a car loan or home loan, you’ll of course compare rates online, but be sure to also check out your local credit union at www.creditunion.coop/cu_locator

.highlight
	%p.location
		Location 1073-1074
	%p.content
		Within about five minutes, you should be able to tell which banks are trustworthy and which are not by seeing how straightforward they are with their accounts and fees.

.highlight
	%p.location
		Location 1079-1080
	%p.content
		Since a bank is the first line of defense in managing your money, it needs to be easy to put money in, get money out, and transfer money around. This means its website has to work, and you need to be able to get help when you need it—whether by e-mail or phone.

.highlight
	%p.location
		Location 1081-1082
	%p.content
		If it’s an online bank, it should offer value-added services like prepaid envelopes for depositing money and convenient customer service.

.highlight
	%p.location
		Location 1081-1083
	%p.content
		If it’s an online bank, it should offer value-added services like prepaid envelopes for depositing money and convenient customer service. Transferring money around should be easy and free because you’ll be doing a lot of it, and you should have free bill paying.

.highlight
	%p.location
		Location 1108-1111
	%p.content
		If you’ve decided an online checking account is right for you, Schwab offers a stunningly good account with 3 to 5 percent interest on money in your checking account, no fees, no minimums, no-fee overdraft protection, free bill pay, free checks, an ATM card, automatic transfers, and unlimited reimbursement of any ATM usage.

.highlight
	%p.location
		Location 1149-1150
	%p.content
		Imagine if a bank required you to keep $1,000 sitting in its low-interest account. You could be earning twenty times that much by investing it.

.highlight
	%p.location
		Location 1168-1170
	%p.content
		You’re in a customer group that’s very profitable for banks: ING Direct and the American Bankers Association put the cost of acquiring a new customer between $100 and $3,500—including all of their advertising, personnel, and technology costs.

.highlight
	%p.location
		Location 1191-1193
	%p.content
		Well, I see the fee here and I’d really like to get it waived. What else can you do to help me? (Repeat your complaint and ask them how to constructively fix it.)

.highlight
	%p.location
		Location 1196-1198
	%p.content
		I’ve been a customer for more than three years, and I’d like to keep the relationship going. Now, I’d like to get this waived—it was a mistake and it won’t happen again. What can you do to help?

.highlight
	%p.location
		Location 1200-1202
	%p.content
		(Being a long-term customer increases your value to them, which is one reason you want to pick a bank you can stick with for the long term. And the fact that you didn’t back down at the first “no” makes you different from 99 percent of other customers.)

.highlight
	%p.location
		Location 1228-1230
	%p.content
		Fund your online savings account (one hour). Leave one and a half months of living expenses in your checking account, or as close to it as you can manage. (This prevents overdrafts as you’re getting used to transferring money between accounts.

.highlight
	%p.location
		Location 1248-1249
	%p.content
		“Compounding,” Albert Einstein said, “is mankind’s greatest invention because it allows for the reliable, systematic accumulation of wealth.”

.highlight
	%p.location
		Location 1251-1252
	%p.content
		Over the twentieth century, the average annual stock-market return was 11 percent, minus 3 percent for inflation, giving us 8 percent.

.highlight
	%p.location
		Location 1288-1290
	%p.content
		The As are already managing their money and want to optimize what they’re doing. The Bs, the largest group of people, are not doing anything but could be persuaded to change that if you figure out what motivates them. The Cs are an unwashed mass of people who are a lost cause.

.highlight
	%p.location
		Location 1308-1310
	%p.content
		Of America’s millionaires, 80 percent are first-generation affluent, meaning their parents weren’t rich. They collected their significant wealth through controlling their spending, regular investing, and in some cases, entrepreneurship.

.highlight
	%p.location
		Location 1307-1308
	%p.content
		it’s easy to “plan” on winning the lottery

.highlight
	%p.location
		Location 1314-1314
	%p.content
		On average, millionaires invest 20 percent of their household income each year.

.highlight
	%p.location
		Location 1314-1316
	%p.content
		Their wealth isn’t measured by the amount they make each year, but by how much they’ve saved and invested over time. In other words, a project manager could earn $50,000 per year and be richer than a doctor earning $250,000 per year—if the project manager has a higher net worth by saving and investing more over time.

.highlight
	%p.location
		Location 1317-1318
	%p.content
		We see shows like My Super Sweet 16 that show us the results of being rich, not how to get there.

.highlight
	%p.location
		Location 1319-1321
	%p.content
		According to a Roper Center study in 1975, a lot of Americans thought “the good life” meant a happy marriage, one or more children, an interesting job, and a home. By 1999, the responses were more materialistic: “a lot of money,” a second car,” “a second TV,” “a vacation home,” “a swimming pool,” and “really nice clothes.”

.highlight
	%p.location
		Location 1362-1364
	%p.content
		Also, pay extra on any mortgage debt you have, and consider investing in yourself: Whether it’s starting a company or getting an additional degree, there’s often no better investment than your own career.

.highlight
	%p.location
		Location 1387-1389
	%p.content
		It’s “tax-deferred,” meaning you can invest the entire $100 and let it grow for about thirty-plus years. Sure, you’ll pay taxes when you withdraw your money later, but that extra 25 percent turns out to make a huge difference as it gets compounded more and more.

.highlight
	%p.location
		Location 1419-1420
	%p.content
		But don’t feel bad about paying these taxes, since your money will have been compounding at an accelerated rate for the last thirty to forty years. Because you agreed to invest your money in a 401(k), you were able to put in about 25 percent more money to grow for you.

.highlight
	%p.location
		Location 1449-1450
	%p.content
		If your employer offers a 401(k) but doesn’t offer a match, open up the 401(k) anyway (assuming there are no monthly fees), but don’t contribute any money for now. Your first step will be to pay off debt and max out your Roth IRA.

.highlight
	%p.location
		Location 1464-1467
	%p.content
		Whereas a 401(k) has an array of funds that you must choose among, a Roth IRA lets you invest in anything you want: index funds, individual stocks, anything. A second difference has to do with taxes: Remember how your 401(k) uses pretax dollars and you pay taxes only when you withdraw money at retirement? Well, a Roth IRA uses after-tax dollars to give you an even better deal. With a Roth, you invest already-taxed income and you don’t pay any tax when you withdraw it.

.highlight
	%p.location
		Location 1484-1486
	%p.content
		you’re penalized if you withdraw your earnings before you’re 59½ years old. Exception: Most people don’t know this, but you can withdraw your principal, the amount you actually invested from your pocket, at any time, penalty-free.

.highlight
	%p.location
		Location 1486-1487
	%p.content
		There are also exceptions for down payments on a home, funding education for you or your partner/children/grandchildren, and some other emergency reasons.

.highlight
	%p.location
		Location 1487-1488
	%p.content
		You qualify for the above exceptions only if your Roth IRA has been open for five years or more.

.highlight
	%p.location
		Location 1498-1499
	%p.content
		Think of the “investment brokerage account” as your house, and the Roth IRA as one of the rooms.

.highlight
	%p.location
		Location 1498-1500
	%p.content
		Think of the “investment brokerage account” as your house, and the Roth IRA as one of the rooms. Although this account will probably hold only your Roth IRA for now, you can expand it to host other accounts (such as taxable investment accounts or additional Roth IRAs for your future spouse and kids) as your needs change.

.highlight
	%p.location
		Location 1503-1504
	%p.content
		We’ll focus on discount brokerages like Vanguard and T. Rowe Price because they charge dramatically smaller fees than full-service brokerages like Morgan Stanley.

.highlight
	%p.location
		Location 1510-1511
	%p.content
		Remember that if you contribute to a Roth IRA, you can always withdraw the money you contribute (“the principal”) at any time, penalty-free.

.highlight
	%p.location
		Location 1513-1514
	%p.content
		If you need your money in fewer than five years, put it in a high-interest savings account.

.highlight
	%p.location
		Location 1523-1525
	%p.content
		Most do require a minimum fee of $1,000–$3,000 to open a Roth IRA, but they’ll often waive it if you set up an automatic transfer. Even if it doesn’t waive any fees, I recommend setting up a monthly automatic transfer so your money will grow without you having to think about it.

.highlight
	%p.location
		Location 1559-1560
	%p.content
		Your employer match isn’t counted toward your contribution limit, so if you invest $5,000 and your employer matches $5,000, you can still invest $10,500 more for a total of $20,500 annually in your 401(k).

.highlight
	%p.location
		Location 1589-1590
	%p.content
		I quickly realized that the most interesting part of eating wings with friends is seeing how much meat they leave on the bone.

.highlight
	%p.location
		Location 1642-1643
	%p.content.location
		If you decide that spending $2.50 on Cokes when you eat out isn’t worth it—and you’d rather save that $15 each week for a movie—that’s not cheap.

.highlight
	%p.location
		Location 1663-1663


.highlight
	%p.location
		Location 1667-1668
	%p.content
		Frugality, quite simply, is about choosing the things you love enough to spend extravagantly on—and then cutting costs mercilessly on the things you don’t love.

.highlight
	%p.location
		Location 1695-1695
	%p.content
		Just as important, have you decided what you don’t love?

.highlight
	%p.location
		Location 1720-1722
	%p.content
		Because young people are not carefully considering their financial choices in the context of their long-term goals—we’re not paying ourselves first and we’re not developing an investment/savings plan—you’re probably right when you think your friend can’t afford those $300 jeans.

.highlight
	%p.location
		Location 1738-1741
	%p.content
		Instead of paying for a ton of channels you never watch on cable, buy only the episodes you watch for $1.99 each off iTunes. • Buy a day pass for the gym each time you go (around $5–$10). • Buy songs you want for $0.99 each from Amazon or iTunes.

.highlight
	%p.location
		Location 1746-1747
	%p.content
		That comes out to more than $17/gym visit—when in reality they’d have been better off buying pay-as-you-go passes for $10 each.

.highlight
	%p.location
		Location 1750-1751
	%p.content
		3. You value what you pay for. You place a higher premium on the things you pay for out of your pocket than those that come via subscription.

.highlight
	%p.location
		Location 1759-1760
	%p.content
		In exactly one month, check and calculate how much you spent on these items over the last month. That’s the descriptive part.

.highlight
	%p.location
		Location 1795-1796
	%p.content
		A Conscious Spending Plan involves four major buckets where your money will go: Fixed Costs, Investments, Savings, and Guilt-free Spending Money.

.highlight
	%p.location
		Location 1797-1797

.highlight
	%p.location
		Location 1817-1819
	%p.content
		Once you’ve got a fairly accurate number here, subtract it from your take-home pay. Now you’ll know how much you’ll have left over to spend in other categories like investing, saving, and guilt-free spending.

.highlight
	%p.location
		Location 1841-1842
	%p.content
		Let’s just say the average house in your neighborhood costs $300,000 and you want to do a traditional 20 percent down payment. That’s $60,000, so if you want to buy a house in five years, you should be saving $1,000/month.

.highlight
	%p.location
		Location 1852-1856
	%p.content
		“The 60 Percent Solution,” which suggested that you split your money into simple buckets, with the largest being basic expenses (food, bills, taxes) making up 60 percent of your gross income. The remaining 40 percent would be split four ways: 1. Retirement savings (10 percent) 2. Long-term savings (10 percent) 3. Short-term savings for irregular expenses (10 percent) 4. Fun money (10 percent)

.highlight
	%p.location
		Location 1951-1952
	%p.content
		In his mind, he was simply “saving.” I, on the other hand, was “saving for a down payment.”

.highlight
	%p.location
		Location 1962-1963
	%p.content
		When my friends asked, I told them I couldn’t go out because I was saving up for a down payment.

.highlight
	%p.location
		Location 1966-1967
	%p.content
		I opened up an ING Direct savings account and named it “Down Payment,” regularly transferring in the amount I had determined I wanted to save. As the months passed, the amount in that account grew larger and larger, and I felt as though I was making progress toward my goal.

.highlight
	%p.location
		Location 1979-1980
	%p.content
		You save money so that you can spend it later on the things that make you happy.

.highlight
	%p.location
		Location 1989-1992
	%p.content
		I recommend the envelope system, in which you allocate money for certain categories like eating out, shopping, rent, and so on. Once you spend the money for that month, that’s it: You can’t spend more. If it’s really an emergency, you can dip into other envelopes at the cost of spending in that category. These “envelopes” can be figurative (like in Mint or Excel) or literally envelopes that you put cash in.

.highlight
	%p.location
		Location 1997-1998
	%p.content
		Decide how much you want to spend in major categories each month.

.highlight
	%p.location
		Location 2012-2013
	%p.content
		“Each month, I try to cut the quantity and amount I spend on something,”

.highlight
	%p.location
		Location 2035-2036
	%p.content
		Remember that getting a raise is not about you. It’s about you demonstrating your value to your employer.

.highlight
	%p.location
		Location 2036-2037
	%p.content
		You can, however, show how your work has been clearly contributing to the company’s success, and ask to be compensated fairly.

.highlight
	%p.location
		Location 2038-2038
	%p.content
		Three months before you ask for a raise, start tracking everything you do at work and the results you get.

.highlight
	%p.location
		Location 2044-2045
	%p.content
		You want to know if you’re on the right track with your work and, more important, the way you’re communicating it.

.highlight
	%p.location
		Location 2045-2047
	%p.content
		One month before the big event, mention to your boss that because you’ve been doing so well, you’d like to discuss compensation at a meeting the next month. Ask what you’ll need to bring to make it a fruitful discussion. Listen very carefully to what he says.

.highlight
	%p.location
		Location 2049-2051
	%p.content
		Two weeks before you ask for a raise, ask a couple of friends to role-play your job negotiation. This seems really weird, but negotiating is not a natural behavior. It will feel extremely odd and uncomfortable the first couple of times you do it. Better to do it with friends than your boss

.highlight
	%p.location
		Location 2052-2054
	%p.content
		On the day you negotiate, come in with your salary, a couple of competitive salaries from www.salary.com and www.payscale.com, and your list of accomplishments, and be ready to discuss fair compensation.

.highlight
	%p.location
		Location 2056-2057
	%p.content
		If you don’t, ask your boss what you can do to excel in your career,

.highlight
	%p.location
		Location 2063-2064
	%p.content
		If that pair of pants is going to cost you eight hours of work, is it worth it?

.highlight
	%p.location
		Location 2068-2068
	%p.content
		During the job-hiring process, you have more leverage than you’ll ever have.

.highlight
	%p.location
		Location 2089-2090
	%p.content
		there—the minute your system becomes too oppressive for you to use is the minute you stop using it. I try to make as many purchases on my credit card as possible,

.highlight
	%p.location
		Location 2092-2093
	%p.content
		Make tracking your spending a weekly priority. For example, set aside thirty minutes every Sunday afternoon.

.highlight
	%p.location
		Location 2114-2116
	%p.content
		I use 50 percent of it for fun—usually buying something I’ve been eyeing for a long time. Always! This way, I keep motivating myself to pursue weird, offbeat ideas that may result in some kind of reward.

.highlight
	%p.location
		Location 2124-2124
	%p.content
		once you start getting accustomed to a certain lifestyle, you can never go back.

.highlight
	%p.location
		Location 2138-2141
	%p.content
		Get your paycheck, determine what you’ve been spending, and figure out what your Conscious Spending Plan should look like (thirty minutes). Do this now and don’t overthink it. Just break your take-home income into chunks of fixed costs (50–60 percent), long-term investments (10 percent), savings goals (5–10 percent), and guilt-free spending money (20–35 percent).

.highlight
	%p.location
		Location 2144-2146
	%p.content
		Pick your big wins (five hours). Open an account at Mint or Quicken Online. Assuming you want to cut your spending by $200/month, what one or two big wins will you target? Start using the envelope system.

.highlight
	%p.location
		Location 2183-2184
	%p.content
		By spending a few hours up front, you’ll end up saving huge amounts of time over the long term.

.highlight
	%p.location
		Location 2240-2241
	%p.content
		In the middle of the month, Michelle’s calendar reminds her to check her Mint account to make sure she’s within her limits for her spending money. If she’s doing fine, she gets on with her life.

.highlight
	%p.location
		Location 2269-2270
	%p.content
		Connect your checking account to your investment account/Roth IRA. (Do this from your investment account.)

.highlight
	%p.location
		Location 2282-2284
	%p.content
		If you pay rent by writing a check and sticking it in an envelope each month, log in to your checking account and set up automatic bill pay for your rent. Your bank will then write a check for you each month and mail it to your landlord. Just make sure you schedule it so that it has enough tme to reach your landlord in the mail.
	%p.content
		Location 2285-2285



.highlight
	%p.location
		Location 2315-2316
	%p.content
		For a longer, bird’s-eye view of my finances, I use a desktop copy of Quicken to suck in all my account transactions and make me pretty charts.

.highlight
	%p.location
		Location 2319-2320
	%p.content
		I use Google Calendar to set twelve savings goals throughout the year, with an e-mail reminder for each one.

.highlight
	%p.location
		Location 2321-2321
	%p.content
		“It’s October! Should be $X in the nest egg account by now!”

.highlight
	%p.location
		Location 2331-2333
	%p.content
		Another strategy to avoid impulse buying is filling up online shopping carts or wishlists and then making yourself wait a week or two before you pull the trigger and hit the “Check out” button.

.highlight
	%p.location
		Location 2355-2355

.highlight
	%p.location
		Location 2419-2419
	%p.content
		My friend Paul has a specific “networking budget” that he uses to travel to meet interesting people each year.

.highlight
	%p.location
		Location 2427-2427

.highlight
	%p.location
		Location 2506-2507
	%p.content
		In 2006, the average Goldman Sachs employee made $622,000.

.highlight
	%p.location
		Location 2580-2582
	%p.content
		Financial companies know very well about survivorship bias, but they care more about having a page full of funds with great performance numbers than revealing the whole truth.

.highlight
	%p.location
		Location 2597-2599
	%p.content
		Because we like to create order where there is none, we will ascribe magical stock-picking abilities to the scammer—even though it was literally by chance—and buy whatever “investment success kit” he’s selling.

.highlight
	%p.location
		Location 2604-2606
	%p.content
		Get Rich Slowly (www.getrichslowly.org/blog), by J. D. Roth, is a great blog covering the basics of personal finance. With a name like that, you can imagine that J. D. believes in long-term growth. He writes about managing money, investing, and even starting a side job.

.highlight
	%p.location
		Location 2609-2611
	%p.content
		JLP at AllFinancialMatters (http://allfinancialmatters.com) does an excellent job of using charts and data to show how low-cost investing beats brokers.

.highlight
	%p.location
		Location 2630-2633
	%p.content
		If you’re determined to get professional help, begin your search at the National Association of Personal Financial Advisors (www.napfa.org). These advisers are fee based (they usually have an hourly rate), not commission based, meaning that they want to help you, not profit off their recommendations.

.highlight
	%p.location
		Location 2634-2636
	%p.content
		If you don’t learn to manage your money in your twenties, you’ll cost yourself a ton one way or another—whether you do nothing, or pay someone exorbitant fees to “manage” your money.

.highlight
	%p.location
		Location 2649-2650
	%p.content
		How do you make your money? Is it through commission or strictly fee based? Are there any other fees? (You want a fee-based adviser with no hidden fees.)

.highlight
	%p.location
		Location 2651-2652
	%p.content
		Have you worked with other people like me in similar situations? What general solutions did you recommend? (Get references and call them.)

.highlight
	%p.location
		Location 2653-2654
	%p.content
		What’s your working style? Do we talk regularly or do I work with an assistant? (You want to know what to expect in the first thirty days, sixty days, and ninety days.)

.highlight
	%p.location
		Location 2663-2665
	%p.content
		(Sure, there are some low-cost mutual funds, but because of the way they compensate their own portfolio managers and other employees, it’s virtually impossible for them to compete with the low costs of passively managed index funds, which I’ll talk more about in a minute.)

.highlight
	%p.location
		Location 2678-2679
	%p.content
		Two percent doesn’t sound like much until you compare it with the alternative: “passive management.” This is how index funds (a cousin of mutual funds) are run.

.highlight
	%p.location
		Location 2680-2682
	%p.content
		They simply and methodically pick the same stocks that an index holds—for example, the five hundred stocks in the S&P 500—in an attempt to match the market. (An index is a way to measure part of the stock market. For example, the NASDAQ index represents certain technology stocks, while the S&P 500 represents 500 large U.S. stocks. There are international indexes and even retail indexes.)

.highlight
	%p.location
		Location 2684-2686
	%p.content
		Index funds have lower fees than mutual funds because there’s no expensive staff to pay. Vanguard’s S&P 500 index fund, for example, has an expense ratio of 0.18 percent.

.highlight
	%p.location
		Location 2686-2687
	%p.content
		International index funds are relatively volatile since they follow indexes that were just recently established. General U.S.-based index funds, on the other hand, are more reliable.

.highlight
	%p.location
		Location 2699-2700
	%p.content
		“What were your after-tax, after-fee returns for the last ten, fifteen, and twenty years?”

.highlight
	%p.location
		Location 2724-2725
	%p.content
		Do you need your money next year or can you let it grow for a while? Are you saving up for a house? Can you withstand big day-to-day changes in the stock market, or do they make you queasy?

.highlight
	%p.location
		Location 2729-2730
	%p.content
		goal for this chapter is to help you pick the simplest investment to get started—and to make your portfolio easy to maintain.

.highlight
	%p.location
		Location 2755-2756
	%p.content
		portfolio. I recommend you pick your own asset allocation through index funds.

.highlight
	%p.location
		Location 2754-2756
	%p.content
		You’re willing to give up convenience in exchange for control over every aspect of your portfolio. I recommend you pick your own asset allocation through index funds.

.highlight
	%p.location
		Location 2760-2761
	%p.content
		You’re a perfect candidate for the 85 Percent Solution: You just want to invest and let your money grow without having to think about or monitor it all the time. I recommend a lifecycle fund (see page 180) so you can invest and get on with your life.

.highlight
	%p.location
		Location 2769-2770
	%p.content
		If you’re truly risk-averse, you can always balance your portfolio with more conservative investments. But don’t succumb to irrational fear and not invest at all.

.highlight
	%p.location
		Location 2798-2800
	%p.content
		The test of a real Automatic Investor is not when things are going up, but when they are going down. It takes strength to know that you’re basically getting shares on sale—and, if you’re investing for the long term, the best time to make money is when everyone else is getting out of the market.

.highlight
	%p.location
		Location 2808-2809
	%p.content
		As Warren Buffett has said, investors should “be fearful when others are greedy and greedy when others are fearful.”

.highlight
	%p.location
		Location 2841-2842
	%p.content
		It turns out that the amounts you buy—whether it’s 100 percent stocks or 90 percent stocks and 10 percent bonds—make a profound difference on your returns.

.highlight
	%p.location
		Location 2850-2852
	%p.content
		“Since you cannot successfully time the market or select individual stocks, asset allocation should be the major focus of your investment strategy, because it is the only factor affecting your investment risk and return that you can control.”

.highlight
	%p.location
		Location 2883-2884
	%p.content
		The advantages of bonds are that you can choose the term, or length of time, you want the loan to last (two years, five years, ten years, and so on), and you know exactly how much you’ll get when they “mature” or pay out.

.highlight
	%p.location
		Location 2885-2886
	%p.content
		the only way you’d lose money on a government bond is if the government defaulted on its loans—and it doesn’t do that. If it runs low on money, it just prints more of it. Now that’s gangsta.

.highlight
	%p.location
		Location 2889-2890
	%p.content
		Investing in bonds also renders your money illiquid, meaning it’s locked away and inaccessible for a set period of time.

.highlight
	%p.location
		Location 2896-2898
	%p.content
		When you have $10,000, you want to invest aggressively to grow it because you want to make more money. But when you have $10 million, your goals switch from aggressive growth to preservation of capital. You’ll accept lower investment returns in exchange for security and safety.

.highlight
	%p.location
		Location 2913-2915
	%p.content
		Diversification is D for going deep into a category (for example, buying different types of stocks: large-cap, small-cap, international, and so on), and asset allocation is A for going across all categories (for example, stocks and bonds).

.highlight
	%p.location
		Location 2922-2923
	%p.content
		If you’re twenty-five years old and have dozens of years to grow your money, a portfolio made up of stock-based funds probably makes sense.

.highlight
	%p.location
		Location 2927-2928
	%p.content
		Bonds act as a counterweight to stocks, rising when stocks fall and reducing the overall risk of your portfolio.

.highlight
	%p.location
		Location 2931-2932
	%p.content
		bonds lower your risk a lot while limiting your returns only a little.

.highlight
	%p.location
		Location 2934-2935
	%p.content
		But in your thirties and older, you’ll want to begin balancing your portfolio with bonds to reduce risk.

.highlight
	%p.location
		Location 2945-2946
	%p.content
		This is called diversifying, and it essentially means digging in to each asset class—stocks and bonds—and investing in all their subcategories.

.highlight
	%p.location
		Location 2959-2960
	%p.content
		Some people prefer to have 100 percent in stocks until they’re in their thirties or forties. Others are more conservative and want some money in bonds.

.highlight
	%p.location
		Location 2968-2969
	%p.content
		the real work in investing comes with creating an investment plan that’s appropriate for your age and comfort level with risk.

.highlight
	%p.location
		Location 3012-3013
	%p.content
		These simple funds use computers to buy stocks and match the market (such as the S&P 500 or NASDAQ

.highlight
	%p.location
		Location 3027-3028
	%p.content
		Index funds reflect the market, which is going through tough times but, as history has shown, will climb back up.

.highlight
	%p.location
		Location 3033-3035
	%p.content
		If you do purchase multiple index funds, you’ll have to rebalance (or adjust your investments to maintain your target asset allocation) regularly, usually every twelve to eighteen months.

.highlight
	%p.location
		Location 3036-3036
	%p.content
		Okay, so index funds are clearly far superior to buying either individual stocks and bonds or mutual funds.

.highlight
	%p.location
		Location 3047-3049
	%p.content
		“I believe that 98 or 99 percent—maybe more than 99 percent—of people who invest should extensively diversify and not trade. That leads them to an index fund with very low costs.” —WARREN BUFFETT, NE OF AMERICA’S GREATEST INVESTORS

.highlight
	%p.location
		Location 3063-3065
	%p.content
		Lifecycle funds are actually “funds-of-funds,” or collections made up of other funds, which offer automatic diversification. For example, a lifecycle fund might include large-cap, mid-cap, small-cap, and international funds. (And those funds, in turn, will hold stocks from each of those areas.)

.highlight
	%p.location
		Location 3074-3076
	%p.content
		Lifecycle funds aren’t perfect for everyone because they work on one variable alone: age. Everyone has different investment needs, and these funds aren’t particularly tailored to your individual situation. As a result, you might not get the maximum possible return you could get if you picked your own portfolio.

.highlight
	%p.location
		Location 3094-3095
	%p.content
		the returns are generally poor, especially when you factor in costs like maintenance and property taxes—

.highlight
	%p.location
		Location 3109-3110
	%p.content
		I set aside about 10 percent of my portfolio for fun money, which includes particular stocks I like, know, and use

.highlight
	%p.location
		Location 3111-3112
	%p.content
		sector funds that let me focus on particular industries (I own an index fund that focuses on health care); and even angel investing, which is personal venture-capital investing for private ultra-early-stage companies.

.highlight
	%p.location
		Location 3124-3125
	%p.content
		If you invest in a lifecycle fund, you could literally spend minutes per year on your investments.

.highlight
	%p.location
		Location 3148-3150
	%p.content
		Depending on what company your employer uses to administer your 401(k), your fund options may be a little pricey in terms of expense ratios (I consider anything over 0.75 percent expensive), but on balance, you’re getting huge tax advantages and employer-match benefits.

.highlight
	%p.location
		Location 3161-3162
	%p.content
		In other words, if you invested $5,000 today, let it sit there, and earned a 10 percent return, you’d have $10,000 in about seven years.

.highlight
	%p.location
		Location 3202-3204
	%p.content
		Swensen is pretty much the Warren G of money management. He runs Yale’s fabled endowment, and for more than twenty years he has generated an astonishing 16.3 percent annualized return, whereas most managers can’t even beat 8 percent.

.highlight
	%p.location
		Location 3241-3242
	%p.content
		Look for the management fees (“expense ratios”) to be low, around 0.2 percent, and you’ll be fine. Really, anything lower than 0.75 percent is okay

.highlight
	%p.location
		Location 3247-3249
	%p.content
		For example, if you have limited money and you’re in your twenties, you’d probably want to buy the stock funds first so you could get their compounding power, whereas you could wait until you’re older and have more money to buy the bond funds to mitigate your risk.

.highlight
	%p.location
		Location 3251-3252
	%p.content
		I use the Instant X-Ray tool (www.morningstar.com/cover/tools.html), which lets me compare various funds’ asset allocations to see how well they cover domestic investments, foreign investments, bonds, and more.

.highlight
	%p.location
		Location 3253-3255
	%p.content
		Third, note that you should absolutely look at how well the fund has returned over the last ten or fifteen years, but remember that, as they say, past performance is no guarantee of future results.

.highlight
	%p.location
		Location 3267-3267
	%p.content
		Maybe you want to buy the stock funds but just one bond fund for now.

.highlight
	%p.location
		Location 3275-3276
	%p.content
		dollar-cost averaging is a fancy phrase that refers to investing regular amounts over time, rather than investing all your money into a fund at once.

.highlight
	%p.location
		Location 3279-3280
	%p.content
		if you have the cash, why would you invest at regular intervals instead of all at once? Imagine if you invest $10,000 tomorrow and the stock drops 20 percent. At $8,000, it will need to increase 25 percent (not 20 percent) to get back to $10,000.

.highlight
	%p.location
		Location 3279-3281
	%p.content
		if you have the cash, why would you invest at regular intervals instead of all at once? Imagine if you invest $10,000 tomorrow and the stock drops 20 percent. At $8,000, it will need to increase 25 percent (not 20 percent) to get back to $10,000. By investing over time, you hedge against any drops in the price—and if your fund does drop, you’ll pick up shares at a discount price.

.highlight
	%p.location
		Location 3304-3305
	%p.content
		For example, if you’re investing $1,000 per month and your Swensen allocation recommends 30 percent for domestic equities, you’d calculate ($1,000) × (0.3) = $300 toward your domestic-equity fund. Repeat for all other funds in your portfolio.

.highlight
	%p.location
		Location 3322-3322
	%p.content
		I have twenty or thirty years to go before retirement. That’s two or three decades to recover from any further market drops.

.highlight
	%p.location
		Location 3331-3332
	%p.content
		An indexed mutual fund decreases risk because your money is diversified across many stocks. Dollar-cost averaging decreases risk even further because your money is diversified across time.

.highlight
	%p.location
		Location 3340-3346
	%p.content
		http://tinyurl.com/dollarcostaveraging—Michael Fischer’s video presentation about the virtues of dollar-cost averaging • http://tinyurl.com/fearofinvesting	—Erin Burt offers five tricks to conquer your fear of investing • http://tinyurl.com/riskquiz—Rutgers University helps you assess your risk tolerance •	 http://tinyurl.com/stupidinvestors—Ben Stein on why “smart” investors are sometimes stupid • http://tinyurl.cm/DCAbenefits—A great introduction to the benefits of dollar-cost averaging

.highlight
	%p.location
		Location 3385-3385

.highlight
	%p.location
		Location 3426-3427
	%p.content
		Force yourself to resist logging in to your investment account more than once a month—that’s it.

.highlight
	%p.location
		Location 3452-3454
	%p.content
		Assuming your domestic equities now represent 45 percent of your asset allocation—but should actually be only 30 percent—stop sending money there temporarily and redistribute that 30 percent of your investment contribution evenly over the rest of your investment categories.

.highlight
	%p.location
		Location 3465-3466
	%p.content
		To keep the math simple, I recommend the Portfolio Allocator at www.morningstar.com to help guide your rebalancing.

.highlight
	%p.location
		Location 3469-3471
	%p.content
		You pay taxes only if you make money. If you’re paying 30 percent in taxes on something, it means you made 70 percent elsewhere, so do not freak out about taxes.

.highlight
	%p.location
		Location 3474-3475
	%p.content
		aside from the very basics of saving on taxes (like taking advantage of tax-deferred accounts and not selling investments before holding them for a year), chances are you don’t make enough to worry about them.

.highlight
	%p.location
		Location 3493-3495
	%p.content
		THE ONE POT SOLUTION. The solution is simple: Treat all of your accounts as one big pot of money. Instead of trying to hit the proper X/Y/Z allocation in each account, shoot for maintaining that allocation overall.

.highlight
	%p.location
		Location 3495-3496
	%p.content
		In order to make this work with the least effort possible, keep one account as your “variable” account and make the others static.

.highlight
	%p.location
		Location 3504-3508
	%p.content
		tax- inefficient (i.e., income-generating) assets such as bonds should go into a tax-advantaged account like an IRA or 401(k). Conversely, taxable accounts should only hold tax- efficient investments like equity index funds, and you should try to make these accounts static to minimize the tax consequences associated with selling your investments when rebalancing. Finally, since withdrawals from Roth accounts such as a Roth IRA or Roth 401(k) will be completely tax free, you should seek to maximize growth in those accounts by picking aggressive investments.

.highlight
	%p.location
		Location 3522-3524
	%p.content
		Invest as much as possible into tax-deferred accounts like your 401(k) and Roth IRA. Because retirement accounts are tax advantaged, you’ll enjoy significant rewards. Your 401(k) money won’t be taxed until you withdraw it many years down the line, and your Roth IRA earnings won’t be taxed at all.

.highlight
	%p.location
		Location 3527-3529
	%p.content
		Sure, you could create complicated tax structures, start putting money away in 529s for your kids, and use the annual gift allowance to give thousands away to others in gifts—but who the hell needs to do that right now? Investing as much as possible in tax-deferred accounts is the answer to 85 percent of your tax questions.

.highlight
	%p.location
		Location 3531-3533
	%p.content
		If you sell an investment that you’ve held for less than a year, you’ll be subject to ordinary income tax, which is usually 25 to 35 percent. Most people who buy a stock and make $10,000 in nine months and stupidly decide to sell it really pocket only $7,500.

.highlight
	%p.location
		Location 3533-3536
	%p.content
		If, however, you hold your investment for more than a year, you’ll pay only a capital-gains tax, which in most cases is currently 15 percent (depending on your income, it could even be less). This is a strong incentive to buy and hold for the long term. In the above example of a $10,000 gain, if you sold it after one year and were taxed at 15 percent, you’d pocket $8,500.

.highlight
	%p.location
		Location 3541-3541
	%p.content
		And once you’ve factored in taxes, the odds are stacked against you if you sell.

.highlight
	%p.location
		Location 3543-3544
	%p.content
		Bottom line: Invest in retirement accounts and hold your investments for the long term. Until your portfolio swells to roughly $100,000, that’s about all you need to know.

.highlight
	%p.location
		Location 3552-3553
	%p.content
		But selling some of your own goods is an important psychological step—it will let you prove how serious you are both to yourself and to your family (which will help if you’re asking them for help).

.highlight
	%p.location
		Location 3599-3600
	%p.content
		Remember, if your goal is less than five years away, you should set up a savings goal in your savings account.

.highlight
	%p.location
		Location 3621-3622
	%p.content
		The simplest step can get you started. But, as with managing their money, people over-complicate things and create artificial barriers to prevent themselves from giving back.

.highlight
	%p.location
		Location 3638-3639
	%p.content
		Just ask people five to ten years older than you what they wish they had started earlier, then do that.

.highlight
	%p.location
		Location 3644-3645
	%p.content
		your emergency fund should contain six months of spending money (which includes everything: your mortgage, other loans, food, transportation, taxes, gifts, and anything else you would conceivably spend on).

.highlight
	%p.location
		Location 3652-3653
	%p.content
		use it as protection from downside risk—like for fires or accidental death when you have a family—but don’t think of it as a growth investment.

.highlight
	%p.location
		Location 3656-3658
	%p.content
		That said, just as Roth IRAs are great retirement accounts, 529s—educational savings plans with significant tax advantages—are great for children’s education. If you’ve got kids (or know that one day you will) and some spare cash, pour it into a 529.

.highlight
	%p.location
		Location 3666-3668
	%p.content
		it’s about freedom—it’s about not having to think about money all the time and being able to travel and work on the things that interest me. It’s about being able to use money to do whatever I want—and not having to worry about my budget, asset allocation, or how I’ll ever be able to afford a house.