---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Manual Keys</h1>
  <p class="doc">
  	<%= link_to	'The Count Page', '/count.html' %> <!-- semi-relative links -->
  </p><!-- .doc -->
</div><!-- .welcome -->