%h1 
	Resources

%h3 Ambitions
%ul
	%li
		Static pages for layouts
	%li
		Support mobile views in Safari
	%li
		Pull in API to display information: improve readability of pinboard links
	%li
		Kindle Notes
	%li
		Weather API
	%li
		Twitter API
	%li
		Google Maps API

%h3 Middleman
%ul
	%li
		%a{href: "http://sourcey.com/middleman-automated-github-pages-deployments-with-rake/", title: "Also Try: pushing middleman to GH pages"} Also Try: pushing middleman to GH pages
	%li
		%a{href: "https://github.com/neo/middleman-gh-pages", title: "Try: pushing middleman to GH pages"} Try: pushing middleman to GH pages
	%li
		%a{href: "https://middlemanapp.com/basics/layouts/", title: "Three ways to point a page to a new layout"} Three ways to point a page to a new layout
	%li
		%a{href: "http://willschenk.com/building-sites-with-middleman/", title: "Middleman setup and overview"} Middleman setup and overview
	%li
		%a{href: "http://benfrain.com/understanding-middleman-the-static-site-generator-for-faster-prototyping/", title: "Middleman overview by Ben Frain"} Middleman overview by Ben Frain
	%li
		%a{href: "https://middlemanapp.com", title: "Middleman official site", target: "_blank"} Middleman official site
	%li
		%a{href: "http://12devs.co.uk/articles/204/", title: "Middleman Overviewe"} Middleman overview
	%li	
		%a{href: "https://github.com/fredjean/middleman-s3_sync", title:"Sync to AWS"} Sync to AWS
	%li
		%a{href: "https://www.youtube.com/watch?v=5aTOxzJLzB4", title: "Video intro to Middleman"} Video intro to Middleman
	%li 
		%a{href: "https://github.com/middleman/middleman-livereload", title: "Live reload gem"} Live reload gem

%h3 Haml
%ul
	%li
		%a{href: "http://haml.info/tutorial.html", title: "Haml getting started reference"} Haml getting started reference
	%li
		%a{href: "#", title: "HTML to Haml"} Find a site for HTML to HAML converter
%h3 Sass + CSS
%ul
	%li
		%a{href: "https://robots.thoughtbot.com/controlling-color-with-sass-color-functions"} Sass Colors
	%li
		%a{href: "http://sassme.arc90.com"} Sass preview
	%li
		%a{href: "https://css-tricks.com/almanac/properties/t/transition"} CSS: Remembering transitions
	%li
		%a{href: "https://css-tricks.com/snippets/css/a-guide-to-flexbox/"} CSS flexbox
	%li
		%a{href: "http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/"} Haven't tried it. Another way to center text vertically.

%h3 Design
%ul
	%li Hack Design: https://hackdesign.org/lessons/30
	%li Systems Design: https://hackdesign.org/lessons/31
	%li Workshop Toolbox: http://toolbox.hyperisland.com/
	%li Podcast: designdetails.fm (brag driven development, cumulative engineering)
	%li
		%a{href: "https://signalvnoise.com/"} Signal vs. Noise blog, design inspiration

%h3 Javascript & API
%ul
	%li
		%a{href: "https://pinboard.in/howto/#rss", title: "Pinboard API and feed reference"} Pinboard API and feed reference
	%li 
		%a{href: "http://acrl.ala.org/techconnect/?p=2037", title: "Pinboard API/feed tutorial"} Pinboard API/feed tutorial
	%li 
		%a{href: "https://api.jquery.com/click/", title: "Pinboard API/feed tutorial"} jQuery on click

%h3 Awesome People
%ul
	%li iOS, Education, Programming: https://github.com/jbrennan

%h3 Learning to Program
%ul
	%li Code Newbie: 	http://www.codenewbie.org/
	%li Javascript: http://javascriptissexy.com/how-to-learn-javascript-properly/


%h3 Keyboard Shortcuts
%ul
	%li Chrome: Delete unwanted URL in your chrome bar history on a Mac: Shift + Fn + Del test
