%h1 
	Resources

%h3 Middleman
%ul
	%li
		%a{href: "http://sourcey.com/middleman-automated-github-pages-deployments-with-rake/", title: "Also Try: pushing middleman to GH pages"} Also Try: pushing middleman to GH pages
	%li
		%a{href: "https://github.com/neo/middleman-gh-pages", title: "Try: pushing middleman to GH pages"} Try: pushing middleman to GH pages
	%li
		%a{href: "https://middlemanapp.com/basics/layouts/", title: "Three ways to point a page to a new layout"} Three ways to point a page to a new layout
	%li
		%a{href: "http://willschenk.com/building-sites-with-middleman/", title: "Middleman setup and overview"} Middleman setup and overview
	%li
		%a{href: "http://benfrain.com/understanding-middleman-the-static-site-generator-for-faster-prototyping/", title: "Middleman overview by Ben Frain"} Middleman overview by Ben Frain
	%li
		%a{href: "https://middlemanapp.com", title: "Middleman official site", target: "_blank"} Middleman official site
	%li
		%a{href: "http://12devs.co.uk/articles/204/", title: "Middleman Overviewe"} Middleman overview
	%li	
		%a{href: "https://github.com/fredjean/middleman-s3_sync", title:"Sync to AWS"} Sync to AWS
	%li
		%a{href: "https://www.youtube.com/watch?v=5aTOxzJLzB4", title: "Video intro to Middleman"} Video intro to Middleman
	%li 
		%a{href: "https://github.com/middleman/middleman-livereload", title: "Live reload gem"} Live reload gem

%h3 Haml
%ul
	%li
		%a{href: "http://haml.info/tutorial.html", title: "Haml getting started reference"} Haml getting started reference
	%li
		%a{href: "#", title: "HTML to Haml"} Find a site for HTML to HAML converter
%h3 Sass

%h3 Design
%ul
	%li Hack Design: https://hackdesign.org/lessons/30
	%li Systems Design: https://hackdesign.org/lessons/31
	%li Workshop Toolbox: http://toolbox.hyperisland.com/
	%li Podcast: designdetails.fm (brag driven development, cumulative engineering)

%h3 Javascript & API
%ul
	%li 
		%a{href: "https://pinboard.in/howto/#rss", title: "Pinboard API and feed reference"} Pinboard API and feed reference
	%li 
		%a{href: "http://acrl.ala.org/techconnect/?p=2037", title: "Pinboard API/feed tutorial"} Pinboard API/feed tutorial

%h3 Awesome People
%ul
	%li iOS, Education, Programming: https://github.com/jbrennan

%h3 Learning to Program
%ul
	%li Code Newbie: 	http://www.codenewbie.org/
	%li Javascript: http://javascriptissexy.com/how-to-learn-javascript-properly/


%h3 Keyboard Shortcuts
%ul
	%li Chrome: Delete unwanted URL in your chrome bar history on a Mac: Shift + Fn + Del test
