%h1 
	Links

%h3 Middleman: 
%ul
	%li Overview: https://middlemanapp.com
	%li Overview: http://benfrain.com/understanding-middleman-the-static-site-generator-for-faster-prototyping/
	%li Overview: http://12devs.co.uk/articles/204/
	%li	Sync to AWS: https://github.com/fredjean/middleman-s3_sync
	%li Intro to Middleman: https://www.youtube.com/watch?v=5aTOxzJLzB4
	%li livereload: https://github.com/middleman/middleman-livereload

%h3 Haml
%h3 Sass

%h3 
	Git
%ul
	%li Ignoring config.rb files: http://blog.pagebakers.nl/2009/01/29/git-ignoring-changes-in-tracked-files/
	%li Git basic commands: http://guides.railsgirls.com/github/

%h3 Design
%ul
	%li Hack Design: https://hackdesign.org/lessons/30
	%li Systems Design: https://hackdesign.org/lessons/31
	%li Workshop Toolbox: http://toolbox.hyperisland.com/
	%li Podcast: designdetails.fm (brag driven development, cumulative engineering)

%h3 Awesome People
%ul
	%li iOS, Education, Programming: https://github.com/jbrennan

%h3 Learning to Program
%ul
	%li Code Newbie: 	http://www.codenewbie.org/
	%li Javascript: http://javascriptissexy.com/how-to-learn-javascript-properly/


%h3 Keyboard Shortcuts
%ul
	%li Chrome: Delete unwanted URL in your chrome bar history on a Mac: Shift + Fn + Del 