%h3 
	Git
%ul
	%li
		June 6 12:14pm
		%p 
			Change the name of local directories and the corresponding git repo. 
			%ul
				%li
					%a{href: "http://stackoverflow.com/questions/4076239/finding-out-the-name-of-the-original-repository-you-cloned-from-in-git"} Check remote repository origin and URL
					git remote -v
				%li
					%a{href: "https://help.github.com/articles/renaming-a-repository/"} renaming a git repo
				%li
					%a{href: "mv /home/user/oldname /home/user/newname"} renaming a local folder via terminal
					cd in to parent folder, then $ mv /folder/oldname /folder/newname

	%li Ignoring config.rb files: http://blog.pagebakers.nl/2009/01/29/git-ignoring-changes-in-tracked-files/
	%li Git basic commands: http://guides.railsgirls.com/github/

