%h1 
	Learning Sketch
%ul
	%li
		June 7 10:30am
		%p 
			Using sketch measure to create annotations on mockups
			%ul
				%li
					%a{href: "https://github.com/utom/sketch-measure"} Sketch measure plugin