---
layout: pinboardlinks
---

%h1 
	Bookmark Stream
%p 
	From my Pinboard. Using an html.haml page and the default pinboardlinks.erb—which contains a _header_pinboard.erb partial
%p 
	pinboards JSON feed
#pinboard
	%h1
		links on pinboard